
<% @tweets.each do |t|  %>
<div class="container">
<div class= "card bg-light mb-3 mx-auto" style="width: 48rem;" >
    <div class="row no-gutters">
        <div class="col-md-4">
        <%= link_to user_path(t) do %>
        <% if t.user.photo.length > 40   %>
          <img src="<%= t.user.photo  %>" alt="avatar" class="card-img" >
        <% else %>
          <%= image_tag(t.user.photo, style: "width: 250px; height:300px; object-fit:cover;") %>
          <% end %>
        <% end %>
        </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Tweet por <%=t.user.name %></h5> 
        <p class="card-text"> <%= render_with_hashtag(t.content) %> </p>
        <%= link_to 'Retweet', retweet_tweet_path(t.id), data: {confirm: '¿Seguro que desea retweetear?', method: :post}, class: "btn btn-dark" %>
        
        <% if t.retweets == 0 %>
           <p> <b> </b></p>
        <% elsif t.retweets == 1 %>
            <p> <b> <%= t.retweets %></b> Retweet hasta ahora!</p>
        <% else %>
         <p> <b> <%= t.retweets %></b> Retweets hasta ahora!</p>
        <% end %>
       
        <% if user_signed_in? %>
          <% if current_user.likes.find_by(tweet_id: t.id) %>
            <%= link_to 'Dislike', tweet_like_path(t, current_user), method: :delete, class: "btn btn-danger" %>
          <% else %>
            <%= link_to 'Like', tweet_likes_path(t), method: :post, class: "btn btn-danger" %>
          <% end %>
          <p> Cantidad de Likes: <%= t.likes.count %></p>
        <% else %>
          <%= link_to 'Like', tweet_likes_path(t), method: :post, class: "btn btn-danger" %>
          <p> Cantidad de Likes: <%= t.likes.count %></p>
        <% end %>
         <%= link_to tweet_path(t) do %>
          <small> Twiteado hace <%= time_ago_in_words(t.created_at) %> </small>
        <% end %>
    </div>
    </div>
  </div>
</div>
</div>

<% end %>
