

<% if current_user != nil %>
<div class= container>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<%= link_to 'TODOS', todos_path, class: "btn btn-info" %>
<%= link_to 'SEGUIDOS', root_path, class: "btn btn-dark" %>
</div>
</div>
    <%= render 'form' %>
    <%= render 'usercontacts' %>
<% else %>
<div class="container">
    <h1 class="display-4">Regístrate para poder compartir</h1>
    <form>
    <div class="form-group">
    <input class="form-control" placeholder="¡REGÍSTRATE AHORA (: !">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark" disabled>Twittear</button>
    </div>
    </form>
</div>
    <%= render 'tweets' %>

<% end %>
