

<% if current_user != nil %>
<div class= container>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<a class="btn btn-info" href= <%=todos_path %> role="button">TODOS</a>
<a class="btn btn-dark" href= <%=root_path %> role="button">SEGUIDOS</a>
</div>
</div>
    <%= render 'form' %>
    <%= render 'usercontacts' %>
<% else %>
<div class="container">
    <h1 class="display-4">Regístrate para poder compartir</h1>
    <form>
    <div class="form-group">
    <input class="form-control" placeholder="¡REGÍSTRATE AHORA (: !">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-dark" disabled>Twittear</button>
    </div>
    </form>
</div>
    <%= render 'tweets' %>

<% end %>
