<div class="container">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<a class="btn btn-dark" href= <%=todos_path %> role="button">TODOS</a>
<a class="btn btn-info" href= <%=root_path %> role="button">SEGUIDOS</a>
</div>
</div>
    <%= render 'selectbar' %>
    <%= render 'form' %>
    <%= render 'tweets' %>
<div class="container">
    <%= paginate @tweets %>
</div>
