
<div class= container>
<h1 class="display-4">Perfil de <%= @user.name %></h1>
<% if @user.photo  != nil %>
<img src="<%= @user.photo  %>" alt="avatar" class="card-img">
<% else %>
<h1 class="display4 text-left">Sin Avatar </h1>
<% end %>
<p>
  <a><%= @user.tweets.count %> <%= (@user.tweets.count) == 1 ? 'Tweet' : 'Tweets'%>, </a>
  <a><%= @user.likes.count %> <%= (@user.likes.count) == 1 ? 'Like' : 'Likes'%>, </a>
</p>
<p>Lo siguen: <%= @followers.count %></p>
<% if user_signed_in? %>
  <%if @user != current_user %>
      <%if @relaciones.where(user_id: current_user.id, follow_id: @user.id).exists? %>
          <%= button_to 'Dejar de seguir', user_follow_path(@user, @follows), method: :delete, class:"btn btn-dark" %>
      <% else %>
          <%= button_to 'Seguir', user_follows_path(@user), method: :user, class:"btn btn-success" %>
      <% end %>
  <% end %>
<% end %>
<br>
<%= link_to 'Back', root_path, class:"btn btn-info" %>
</div>